

	<h1>ユーザー一覧!!</h1>

		<div class ="row">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="テキスト入力欄">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default">ボタン</button>
					</span>
			</div>

			<div class="row">
				<div class="table_outer">
					<table class="table table-bordered">
						<% @customers.each do |customer| %>
							<tr>
								<td><%= customer.id %></td>
								<td><%=customer.name_full%></td>
								<td><%=customer.email%></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>

		</div>



