
	<h1>アーティスト登録</h1>

<%= form_for([:admin,@artist]) do |f|%>

 <% if @artist.errors.any? %>
 <div id="error_explanation">
 <ul>
      <% @artist.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>

 </ul>
 </div>
 <%end%>
<div class="field">
<label class="col-sm-3">アーティスト名</label><br>
<div class="col-sm-9">
 <%= f.text_field :name ,:size => "27x15"%>
  </div>
 <%= f.submit "登録する", class: "btn btn-success width pull-right" %><br>
 </div>

<%end%>


