<div class="container">
	<h1>アーティスト登録</h1>

<%= form_for([:admin,@artist]) do |f|%>

 <% if @artist.errors.any? %>
 <div id="error_explanation">
 <ul>
      <% @artist.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>

 </ul>
 </div>
 <%end%>
<div class="field">
<label class="col-sm-12 " style="font-size:20px;margin-top: 40px;">アーティスト名</label><br>
<div class="col-sm-12">
 <%= f.text_field :name ,:size => "100x35"%>
  </div>
 <%= f.submit "登録する", class: "btn btn-success btn-lg width pull-right" %><br>
 </div>

<%end%>


</div>