<!-- 受注詳細 -->


<div>
  <h1>受注詳細</h1>

  <div>
    <h4>ユーザー情報</h4>
    <p>名前           : <%= @order.customer.name %><p>
    <p>メールアドレス : <%= @order.customer.email %><p>
  </div>

  <div>
    <h4>配送ステータス</h4>
    <
  </div>

</div>

