<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :description %>
    <%= f.number_field :description %><br>
    <%= link_to_remove_association "remove task", song %>
  </div>
</div>
