<h1>退会の確認</h1>
<%= form_with model: @customer, url: customer_leave_path do |form| %>
  <h3 class="mt-5">本当に退会しますか？</h3>

  <div class="mt-5">
    <%= form.check_box :test1 , required: true%>
    <%= form.label :test1, "はい" %>
  </div>

  <div>
    <%= form.submit "送信する", class:"btn btn-warning float-right mt-4"%>
  </div>
<% end %>