<%= render 'customers/shared/u_header'%>
<div>
  <h2>お届け先確認</h2>
  <%= form_with model: @order do |f| %>
    <% @destinations.each do |destination| %>
    <% end %>
    <%= f.submit "決定"%>
  <% end %>
</div>