// Place all the styles related to the admin::Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input-group{
	margin:50px auto;
	width:700px
}

.table_outer{
	margin:0 auto;
	float:none;
	width:600px;

}
