// Place all the styles related to the admin::Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table_outer{
	margin:50px auto;
	float:none;
	width:600px;

}



.input-group{
	 display:inline-block;
	 margin:50px auto;
	 width:700px;
	}



