// Place all the styles related to the admin::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.contents-box {
  margin-top: 100px;
}

.content-box {
  margin-top: 100px;
}

.content {
  display: inline-block;
}

.contents-box {
  margin-top: 20px;
}

.box1 {
  margin-left: 30px;
}

.box2 {
  margin-left: 102px;
}

.box3 {
  margin-left: 169px;
}

.box4 {
  margin-left: 123px;
}

.box5 {
  margin-left: 69px;
}

.box6 {
  margin-left: 86px;
}

.box7 {
  margin-top: 100px;
  margin-left: 350px;
}

.box8 {
  margin-left: 230px;
}

.edit-box {
  margin-left: 100px;
}

.partition1 {
  width: 20px;
  text-align: center;
  color: #CCCCCC;
}

.sort-text:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.product-box {
  width: 200px;
  height: 300px;
  border: solid 1px;
  margin-right: 15px;
  margin-bottom: 40px;
  position: relative;
}

.image-border {
  border-bottom: solid 1px;
}

li > p {
  margin-bottom: 0px;
}

.label {
  position: absolute;
  top: 0px;
  left: 5px;
}

.show-box {
  margin-top: 50px;
}

.border-bottom {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #C0C0C0;
}
.border-top {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: solid 1px #C0C0C0;
}

.song-box {
  margin-top: 100px;
}

.review-box {
  margin-top: 100px;
}

.content3 {
  margin-top: 30px;
}

.box-10 {
  margin-top: 20px;
}
