/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@import "bootstrap";
// 左右の余白を消す
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*regisrationのcssです*/

.regisration_h4{
	margin-top:30px;
	margin-bottom:30px;
}

.regisration_btn{
	text-align:center;
	margin-top:60px;
}


.regisration_field{
	margin-bottom:20px;
}

.registation_fields{
	text-align:center;
}

.regisration_address_city{
	margin:20px 0;
}

.session_table{
	margin-top:50px;
}

.session_btn{
	text-align:center
}
