// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::placeholder {
  font-size: 0.7em;
}


.container{
	width:200px;
	margin:0 auto;
}

.field{
	margin:10px
}

.show-table{
	margin:0 auto;
	font-size:15px;
}

.show_btn{
	display:inline-block;
	margin:15px auto;
}

.otodoke_saki{
	font-size: 20px;
    width: 60%;
    margin:50px auto;
}

.table-bordered{
	font-size: 20px;
    width: 60%;
}

.btn-success{
	width:100px
}

.btn-waning{
	margin:0 auto;
}

