
<div>
  <h1>商品一覧</h1>
  <div>
    <div>新着順</div>
    <div>売れ筋順</div>
    <div>いいね順</div>
  </div>
  <ul>
  <% @products.each do |product| %>
  <li>
    <p><%= product.name %></p>
    <p><%= product.price %> 円</p>
    <p><%= product.label.name %></p>
  </li>
  <% end %>
  </ul>
</div>
