
<div>
  <h1>商品一覧</h1>
  <div>
    <select name="sort_order">
      <option value="new">新着順</option>
      <option value="favorite">いいね順</option>
      <option value="hot">売れ筋順</option>
    </select>
  </div>
  <ul>
  <% @products.each do |product| %>
  <li>
    <p><%= product.name %></p>
    <p><%= product.price %> 円</p>
    <p><%= product.label.name %></p>
  </li>
  <% end %>
  </ul>
</div>
