<h4>入荷登録</h4>

<div class="row new-box">
  <div class="col-md-2">
    <h5>商品名</h5>
    <h5>数量</h5>
  </div>

  <div class="col-md-2">
    <%= form_for @product, url: admin_arrivals_path, method: :post do |f| %>
      <p><%= f.collection_select :product_id, Product.all, :id, :name %></p>
      <p><%= f.text_field :amount %></p>
      <p><%= f.submit "入荷する", class: "btn btn-primary"%></p>
    <% end %>
  </div>
</div>
